[bumpversion]
current_version = 0.0.15rc
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<release>.*))?
serialize = 
	{major}.{minor}.{patch}{release}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = production
values = 
	rc
	production

[bumpversion:file:setup.py]

