# Dependencies have to be in sync with other packages (gcdt, glomex-credstash, gcdt-plugins)
pyhocon==0.3.30
#boto3>=1.4.2
botocore==1.5.7
s3transfer==0.1.10
slacker==0.9.25
pybars3==0.9.1
pycrypto==2.6.1
blinker==1.4
jmespath==0.9.1
regex==2017.02.08

# Other dependencies
clint==0.5.1
docopt==0.6.2
pathspec==0.3.4
awacs==0.6.0
troposphere>=1.9.0
tabulate==0.7.5
pyspin==1.0.2
datadog==0.13.0
pip>=9.0.1
