# this file contains additional dependencies (not in requirements.in)
# please list all dependencies necessary to test and build this package

# test-tools
nose==1.3.7
coverage==4.2.0
testfixtures
pytest>=3.0.1
pytest-cov>=2.3.1
placebo>=0.8.1
aws-mfa>=0.0.6

# build-tools
setuptools>=25.1.3
pip>=8.1.1
pip-tools>=1.7.0
pep8>=1.7.0
pylint>=1.6.4
bumpversion>=0.5.3
awscli>=1.11.12

# misc
simplejson==3.8.2
Werkzeug==0.9.4
