# Dependencies have to be in sync with other packages (gcdt, dphelper, glomex-utils, glomex-credstash)
pyhocon==0.3.30
boto3>=1.4.2
slacker==0.9.25
pybars3==0.9.1
pycrypto==2.6.1
glomex-utils==0.0.16
glomex-credstash==1.11.19
# Other dependencies
clint==0.5.1
docopt==0.6.2
mock==2.0.0
pathspec==0.3.4
awacs==0.6.0
troposphere>=1.9.0
tabulate==0.7.5
pyspin==1.0.2
datadog==0.13.0
